









.main_app{
  font:  href="https://fonts.googleapis.com/css?family=Lacquer&display=swap";
  min-height: 100vh;
    text-align: center;
  background-image: url("../src/pictures/main-app-background.png.jpg");
  }